<p id="notice"><%= notice %></p>

<h1>Listing Bluetooth Adapters</h1>

<table>
  <thead>
    <tr>
      <th>Token</th>
      <th>Belongs to</th>
      <th>Situation</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @bluetooth_adapters.each do |bluetooth_adapter| %>
      <tr>
        <td><%= bluetooth_adapter.token %></td>
        <td>
            <%= bluetooth_adapter.user.name %>
        </td>
        <td class="icon"><%= select_icon(bluetooth_adapter.activated).html_safe %></td>
        <td><%= link_to 'Show', bluetooth_adapter %></td>
        <td><%= link_to 'Edit', edit_bluetooth_adapter_path(bluetooth_adapter) %></td>
        <td><%= link_to 'Delete', bluetooth_adapter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
        <% if bluetooth_adapter.activated %>
          <%= link_to 'Desativar', bluetooth_deactivate_path(bluetooth_adapter), method: :put, data: { confirm: 'Você tem certeza?' } %>
        <% else %>
          <%= link_to 'Ativar', bluetooth_activate_path(bluetooth_adapter), method: :put, data: { confirm: 'Você tem certeza?' } %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bluetooth adapter', new_bluetooth_adapter_path %>
