<p id="notice"><%= notice %></p>

<h1>Listing Logs</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Account</th>
      <th>Bluetooth</th>
      <th>Token</th>
      <th>Authorized</th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.created_at %></td>
        <td><%= log.account %></td>
        <td class="icon"><%= select_icon(log.bluetooth, true).html_safe %></td>
        <td>
          <% unless log.token.nil? %>
            <%= log.token[0.. 10] %>
          <% else %>
            <%= "" %>
          <% end %>
        </td>
        <td class="icon"><%= select_icon(log.status).html_safe %></td>
        <td><%= link_to 'Show', log %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>